/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  cursor: default;
}

body {
  overflow: hidden;
}

/* Utility classes */
.heading-1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3rem;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.705);
  padding: 5rem 3rem;
  border-radius: 30px;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-row {
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.contact-row .login-icon {
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem 0.3rem 0.3rem;
}

.contact-row .contact-input {
  width: 85%;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  cursor: text;
}

.form-button {
  width: 30%;
  margin-top: 1rem;
  padding: 0.7rem 0;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}

.form-button:hover {
  background-color: #e0e0e0;
}

.error-description {
  text-align: center;
  color: #ff0000;
  margin: 3rem auto 2rem auto;
}

/* Login section */
#login-section {
  background: linear-gradient(
    111deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 5, 255, 1) 100%
  );
}

#login-section .register-offer {
  color: #fff;
  text-align: center;
}

#login-section .form-link {
  color: #fff;
  cursor: pointer;
}

/* User section */
#user-section {
  height: 100vh;
  width: 100vw;
  padding: 5rem 10vw;
  background: linear-gradient(
    111deg,
    rgba(255, 0, 224, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

#user-section .user-table {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 3rem;
  border-radius: 30px;
}

#user-section .row {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

#user-section .col:first-of-type {
  width: 10%;
}

#user-section .col-bold {
  font-weight: 600;
}

#user-section .col {
  color: #fff;
}

#user-section .logout-button {
  width: 30%;
  padding: 0.8rem 0;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}

#user-section .logout-button:hover {
  background-color: #e0e0e0;
}

#user-section .change-password-link {
  color: #fff;
  cursor: pointer;
}

/* Register section */
#register-section {
  background: linear-gradient(
    111deg,
    rgba(0, 44, 255, 1) 0%,
    rgba(0, 189, 255, 1) 100%
  );
  z-index: 0;
}

#register-section .form-container {
  padding: 2.5rem 5rem;
}

#register-section-registered {
  z-index: 1;
  background: linear-gradient(
    111deg,
    rgba(0, 44, 255, 1) 0%,
    rgba(0, 189, 255, 1) 100%
  );
}

#register-section-registered .registered-container {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 5rem;
  border-radius: 30px;
}

#register-section-registered .registered-container .registered-description {
  color: #fff;
}

#register-section-registered .registered-container a {
  color: #fff;
  cursor: pointer;
}
